version: "3.8"

services:
  backend:
    build:
      context: .
      dockerfile: backend/Dockerfile
    container_name: intel_backend
    ports:
      - "8000:8000"
    volumes:
      - ./data:/app/backend/data
    restart: always

  frontend:
    build:
      context: .
      dockerfile: frontend/Dockerfile
    container_name: intel_frontend
    ports:
      - "8501:8501"
    depends_on:
      - backend
    restart: always
